<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin console</title>
        <link rel="stylesheet" type="text/css" href="public/admin.css" />
  	    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    </head>
    <body>
        <div id="home_button">
             <a href="/"><image id="button_img" src="public/main-icon.jpg" width="50px" heigth="50px"></image></a>
        </div>
        <div id="posts">
            <h2>Posts</h2>
            <div id="buttons">
                <button hx-get="/part_create_layout" hx-target="#post_holder">Create</button>
                <button hx-get="/part_post_layout" hx-target="#post_holder">Delete</button>
            </div>
            <div id="post_holder">
                {{#each posts}}
                <div id="content">
                    <p>Title: {{ this.title }}</p>
                    <p>Body: {{ this.body }}</p>
                    <p>Id: {{ this.id }}</p>
                    <button hx-get="/delete/{{this.id}}" hx-target="#post_holder">Delete</button>
                </div>
                {{else}}
                <p> No posts yet</p>
                {{/each}}
            </div>
        </div>
    </body>
</html>
